@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type='number'] {
		-moz-appearance: textfield;
	}
}

:is(html, body, #root) {
	@apply h-auto min-h-screen;
}

body {
	@apply bg-neutral-50 text-neutral-900;
}
